<%- include('partials/head') %>
<%- include('partials/navbar') %>
<h1 style="text-align: center;">Random Cat Pics!</h1>
<div id="cat">
  <img src="/images/blackwhitecat.jpg" id="catImg" width="400px" alt="Click for Random Cat Photos">
  <button id="clickme">More Cats!</button>
</div>
<footer>
  <p><a href="/">Go Back Home</a></p>
  <p>©2023 Neurotic Travesty</p>
</footer>
<script src="/js/app.js"></script>
</body>

</html>