body {
  background-color: #9ccaf7;
}
h1 {
  text-align: center;
}
footer {
  text-align: center;
}
footer p {
  margin-top: 15px;
}
section p {
  text-align: center;
  font-weight: bold;
}
/*section p:hover {
  font-weight: bold;
}*/
section h2 {
  font-weight: bold;
  text-align: center;
  color: #22668D;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, 
                #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased
}
#firstimg {
  transform: rotate(5deg);
  border: #FFCC70 solid 10px;
  transition: transform 0.7s ease-in-out;
}
#firstimg:hover {
  transform: rotate(5deg) scale(1.1);
}
#secondimg {
  transform: rotate(-5deg);
  border: #FFCC70 solid 10px;
  transition: transform 0.7s ease-in-out;
}
#secondimg:hover {
  transform: rotate(-5deg) scale(1.1);
}
#thirdimg {
  transform: rotate(0deg);
  border: #FFCC70 solid 10px;
  transition: transform 0.7s ease-in-out;
}
#thirdimg:hover {
  transform: rotate(0deg) scale(1.1);
}
main.container {
  margin-right: 10%;
}
#secondsection {
  margin-top: 35px;
}
#thirdsection {
  margin-top: 45px;
}
#bottomtext {
  margin-top: 50px;
  text-align: center;
}
#cat {
  text-align: center;
}
#clickme {
  text-align: center;
  margin-top: 5px;
}
.nav-item:hover {
  color: #FFFADD;
  font-weight: bold;
}